<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Book</h1>
	<form method="post" action="#" th:action="@{/save}"  th:object= ${book} >
	<p>ID: <input type="text" th:field="${book.id}" /></p>
	<p>Title: <input type="text" th:field="${book.title}" /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>Publish year: <input type="text" th:field="${book.publishYear}" /></p>
	<p>Isbn: <input type="text" th:field="${book.isbn}" /></p>
	<input type="submit" value="save" /> <input type="reset" value="Reset" />
	</form>
    
</body>
</html>